<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Google Login with reCAPTCHA</title>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
    let isRecaptchaVerified = false;

    function handleCredentialResponse(response) {
      if (!isRecaptchaVerified) {
        alert("먼저 reCAPTCHA 인증을 완료해주세요.");
        return;
      }

      console.log("JWT: " + response.credential);
      window.opener.location.href = 'home.html';
      window.close();
    }

    function recaptchaCallback() {
      isRecaptchaVerified = true;
      document.getElementById('google-login-container').style.display = 'block';
    }
  </script>
</head>
<body>
  <form>
    <div class="g-recaptcha" data-sitekey="6LcWLIUrAAAAAPs1Nj_0_lYhJ3sE_tfDvzVTUnAE" data-callback="recaptchaCallback"></div>
  </form>

  <div id="google-login-container" style="display:none;">
    <div id="g_id_onload"
         data-client_id="298565234749-qsj5dott56kpcushrfqc6ru3r60dmdnn.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin"></div>
  </div>
</body>
</html>

